*.class
*.lst
*.jar
*.pdf
*.properties
!/mavenproject2/src/main/resources/Language_pt_PT.properties
!/mavenproject2/src/main/resources/Language_nl_NL.properties
!/mavenproject2/src/main/resources/Language_en_EN.properties
!/mavenproject2/src/main/resources/Language_tr_TR.properties
!/mavenproject2/src/main/resources/Language_de_DE.properties
*.pdf
*.pdf
*.pdf
mavenproject2/src/main/resources/temp/PDFTest.pdf
!/mavenproject2/src/main/resources/languages/Language_en_EN.properties
!/mavenproject2/src/main/resources/languages/Language_nl_NL.properties
!/mavenproject2/src/main/resources/languages/Language_tr_TR.properties